langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
langchain_groq
fastapi
uvicorn
langserve[all]
sse_starlette
streamlit
PyPDF2
google.generativeai
arxiv
wikipedia
streamlit-pydantic
validators
youtube_transcript_api
pytube
Unstructured
yt-dlp
numexpr
langchain_huggingface
huggingface_hub
duckduckgo-search